@import "tailwindcss";

:root {
  --background: #121212;
  --card: #181818;
  --hover: #282828;
  --accent: #1db954;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
}